<a href="https://colab.research.google.com/github/OmniaOsama03/Artificial_Intelligence_Programming_Labs/blob/main/CSC406_Lab0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CSC406 Lab 0 - Introduction to Google Colab

Name:  Omnia Osama Ahmed

In [ ]:
print("Omnia")

Omnia
1084505

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("This is my first Python code")

This is my first Python code

In [ ]:
print("My name is Omnia Osama Ahmed.")

My name is Omnia Osama Ahmed.

In [ ]:
# @title Example form fields
# @markdown Forms support many types of fields.

no_type_checking = ''  # @param
string_type = 'example'  # @param {type: "string"}
slider_value = 142  # @param {type: "slider", min: 100, max: 200}
number = 102  # @param {type: "number"}
date = '2010-11-05'  # @param {type: "date"}
pick_me = "monday"  # @param ['monday', 'tuesday', 'wednesday', 'thursday']
select_or_input = "apples" # @param ["apples", "bananas", "oranges"] {allow-input: true}
# @markdown ---

In [ ]:
a = 10
b = 0o5      #Last digits are 05. There's a leading 0, which isn't permitted, so I added an 0o prefix.

#Addition
sum = a + b
print("SUM: ", sum)

#Subtraction
difference = a - b
print("SUBTRACTION: ", difference)

#Multilplication
product = a * b
print("PRODUCT: ", product)

#Division
quotient = a / b
print("QUOTIENT: ", quotient)

SUM:  15
SUBTRACTION:  5
PRODUCT:  50
QUOTIENT:  2.0

In [ ]:
x = 8
y = 5

for a in range(1, x):
  product = a * y
  print("Iteration", a, ": ", a, " * ", y, " = ", product)

Iteration 1 :  1  *  5  =  5
Iteration 2 :  2  *  5  =  10
Iteration 3 :  3  *  5  =  15
Iteration 4 :  4  *  5  =  20
Iteration 5 :  5  *  5  =  25
Iteration 6 :  6  *  5  =  30
Iteration 7 :  7  *  5  =  35

In [ ]:
x = '4'
id = "1084505"

if x in id:
  print(x, " is in my ID")
else:
  print(x, "is not in my ID")

4  is in my ID