<a href="https://colab.research.google.com/github/OmniaOsama03/Artificial_Intelligence_Programming_Labs/blob/main/Lab%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#AI Lab 1.B
#Name: Omnia Osama Ahmed

# **List Tasks**

In [ ]:

myList = [25, 27, 43, 56, 49]

"""a) write one line to access the last three items"""

print(myList[-3:])

[43, 56, 49]

In [ ]:

"""#d)	Accessing an element in a nested list.
#access the element 7 in myList"""

list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]
myList = [list1,list2,list3]
print(myList)

print("Elemet: ", (myList[2])[0])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Elemet:  7

# **Tuples Tasks**

In [ ]:
#Create a tuple named student_info containing three elements:
#the student's name (as a string), age (as an integer), and grade (as a string).
#Print each piece of information separately using indexing.


student_info = ("Omnia", 20, "A")

print("Student Name: ", student_info[0], "\nAge: ", student_info[1], "\nGrade: ", student_info[2])

Student Name:  Omnia
Age:  20
Grade:  A

#**Sets Tasks**

In [ ]:
"""#a)	Create a set of your favorite fruits. """

basket = {"Pineapple", "Melon", "Strawberry", "Pineapple", "Strawberry"}

print("My set with added duplicates: " , basket)

My set with added duplicates:  {'Strawberry', 'Melon', 'Pineapple'}

#**Dictionary Tasks**

![Capture.PNG]()

In [ ]:
"""#a)Create a dictionary from using the above table:"""
#... write the ans here
Grades = {'Ahmed':'A+', 'Osama' : 'C', 'Ali' : 'B', 'Mike' : 'D', 'Shamma' : 'A'}

In [ ]:
"""#Access Mike Grade?"""
print("Mike's Grade: ", Grades.get('Mike'))

Mike's Grade:  D

In [ ]:

"""#Update or add an item to the previous dictionary. Add your name and grade.
#Solution"""

Grades["Omnia"] = 'A+' #to add
Grades['Osama'] = 'A+' #to update


print(Grades)

{'Ahmed': 'A+', 'Osama': 'A+', 'Ali': 'B', 'Mike': 'D', 'Shamma': 'A', 'Omnia': 'A+'}

#**Classes Task**

In [ ]:
"""Given the Student class. Create two objects two instances student1, student2 and assign given values to the said instances attributes.
 Print all the attributes of student1, student2 instances with their values in the given format"""
class Student:
    student_id= 0
    student_name=""

    def display(text):
      res = "my name is {} and my ID is {}"
      print(res.format(text.student_name, text.student_id))

#write the ans here
s1 = Student();
s1.student_id = 1084505;
s1.student_name = "Omnia";

s2 = Student();
s2.student_id = 1085099;
s2.student_name = "Fatma"

#call the display method
s1.display();
s2.display();

my name is Omnia and my ID is 1084505
my name is Fatma and my ID is 1085099

#**Dataframes Tasks**

In [ ]:
import pandas as pd

# Define the dictionary
grades_dict = {
    # Student IDs
    'student_id': [101, 102, 103, 104, 105],
    # Math grades
    'math_grade': [85, 90, 78, 88, 92],
    # English grades
    'english_grade': [75, 80, 85, 90, 95]
}

# Convert the dictionary into a DataFrame
# Replace the '...' with the appropriate code to convert the dictionary into a DataFrame
grades_df = pd.DataFrame(grades_dict);

# Display the DataFrame
# Replace the '...' with the appropriate code to display the DataFrame
print(grades_df)

   student_id  math_grade  english_grade
0         101          85             75
1         102          90             80
2         103          78             85
3         104          88             90
4         105          92             95

In [ ]:
'''
Define a Python dictionary named employee_salaries containing three key-value pairs: 'employee_id', 'department', and 'salary'.
Assign appropriate values to each key representing employee IDs, departments, and salaries.
Import the Pandas library using import pandas as pd.

Convert the employee_salaries dictionary into a Pandas DataFrame named df_employee_salaries using the pd.DataFrame() function.
Print the DataFrame df_employee_salaries to display the entire dataset.
Use the .head(5) method to return the first five rows of the DataFrame and print them out.
Test your script to ensure it correctly displays the dataset and returns the first five rows.
'''




import pandas as pd

employee_salaries ={
    'employee_id' : [1084505, 1085099, 1087070, 1090909, 1099999, 1033840, 2084458],
    'department' : ["Comp Sci & IT", "Civil Engineering", "Chemical Engineering", "Architecture", "Aviation", "Mechanical & Industrial", "Biomedical Engineering"],
    'salary' : [15000, 14000, 17000, 10000, 5000, 6000, 8000]
}

# Convert the dataset into a DataFrame
df_employee_salaries = pd.DataFrame(employee_salaries)

# Print the DataFrame
print("COMPLETE DATAFRAME: \n")
print(df_employee_salaries)

# Return the first five rows
print("\nFIRST 5 ROWS: \n")
print(df_employee_salaries.head(5))

COMPLETE DATAFRAME:

   employee_id               department  salary
0      1084505            Comp Sci & IT   15000
1      1085099        Civil Engineering   14000
2      1087070     Chemical Engineering   17000
3      1090909             Architecture   10000
4      1099999                 Aviation    5000
5      1033840  Mechanical & Industrial    6000
6      2084458   Biomedical Engineering    8000

FIRST 5 ROWS:

   employee_id            department  salary
0      1084505         Comp Sci & IT   15000
1      1085099     Civil Engineering   14000
2      1087070  Chemical Engineering   17000
3      1090909          Architecture   10000
4      1099999              Aviation    5000